<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/css/chatroom.css">
</head>
<body>
  <header>
    
  </header>

  <main>
    <h1 class="underline" >Chatroom</h1>
    <section>
      <h2>Nieuwe match</h2>
      <div class="new-match-list">
        <% users.forEach(otherUser => { %>
          <a href="/chat-channel/<%= otherUser._id %>">
            <div class="profile-pic-wrapper">
              <img src="/uploads/<%= otherUser.profileImg %>" alt="<%= otherUser.name %>" class="profile-pic" alt="">
            </div>
            <%= otherUser.name %>
          </a>
        <% }) %>
      </div>
    </section>
    <section>
      <h2>Recente gesprekken</h2>
      <ul class="chat-list">
        <% users.forEach(otherUser => { %>
          <li class="chat-list-item">
            <a href="/chat-channel/<%= otherUser._id %>">
              <div class="profile-pic-wrapper">
                <img src="/uploads/<%= otherUser.profileImg %>" alt="<%= otherUser.name %>" class="profile-pic" alt="">
              </div>
              <div class="chat-info">
                <%= otherUser.name %>
                <div class="last-chat">
                  <%= otherUser.lastMessage ? otherUser.lastMessage : 'Nog geen berichten' %>
                </div>
              </div>
            </a>
          </li>
        <% }) %>
      </ul>
    </section>
  </main>
  <footer>
    <%- include('../partials/bottom-nav'); %>
  </footer>
</body>
</html>
