<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/matchen.css">
  </head>
  <body>
    <main>
      <h1 class="underline" >Ontdek</h1>
      <!-- filterknop -->
      <!-- onderweg -->
      <!-- opzoek -->

      <%- include('../partials/ontdekfiltermenu') %>

      <%- include('../partials/zoekbalk') %>


  <!-- Nieuw stukje, dat de pagina niet crasht als er geen posts zijn -->
      <ul class="reizen">
        <% if (posts && posts.length > 0) { %>
          <% posts.forEach(post => { %>
            <li
              data-gender="<%= post.gender %>"
              data-date="<%= post.startDate %>"
              data-continent="<%= post.continent %>"
              data-birthday="<%= post.user?.birthday || '' %>"
            >
              <a href="/post/<%= post._id %>">
                <%- include('../partials/reisoproep', { post: post }) %>
              </a>
            </li>
          <% }) %>
        <% } else { %>
          <li>Er zijn nog geen reizen om te tonen.</li>
        <% } %>
      </ul>

      <!-- zoekbalk -->

      <div id="noResults" style="display:none;">
        <p>Geen resultaten gevonden</p>
        <img src="/img/404.svg" alt="">
      </div>

    </main>

    <footer>
      <%- include('../partials/bottom-nav'); %>
    </footer>

    <script src="../javascript/form.js"></script>
  </body>
</html>