<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>
<link rel="stylesheet" href="css/filter.css">

<body>

  <header>
    <%- include('../partials/filtermenu'); %>


  </header>

 <!-- Lijst met gebruikers -->
<ul class="all">
  <% users.forEach(user => { %>
    <li
      data-gender="<%= user.gender %>"
      data-continent="<%= user.location %>"
      data-date="<%= user.startDate %>"
      data-birthday="<%= user.birthday %>"
    >
      <%= user.name %>
    </li>
  <% }) %>
</ul>

  <script defer src="javascript/filter.js"></script>

  <footer>
    <%- include('../partials/bottom-nav'); %>
  </footer>
</body>

</html>