<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/css/matchen.css">
  <link rel="stylesheet" href="/css/filter.css">
</head>

<body>
  <main>
    <h1 class="underline">Matchen</h1>

      <% if (!matchUser) { %>
        <p>Je hebt iedereen gezien!</p>
        <a class="start-over-link" href="/matchen/reset">Opnieuw beginnen</a>
        <% } else { %>

          <div class="preference-buttons">
            <form id="genderFilterForm" action="/set-preference" method="POST">
          
              <input type="radio" id="man" name="genderPreference" value="man">
              <label for="man">Man</label>
          
              <input type="radio" id="vrouw" name="genderPreference" value="vrouw">
              <label for="vrouw">Vrouw</label>
          
              <input type="radio" id="anders" name="genderPreference" value="anders">
              <label for="anders">Anders</label>
          
            </form>
          </div>

          <section>
            <img src="/uploads/<%= matchUser.profileImg %>" alt="Account foto">
            <div class="profile-info">
              <h2>
                <%= matchUser.name %> • <%= age %>
              </h2>
              <ul>
                <li><img src="/img/matcheniconen/gendermale.svg" alt="">
                  <%= matchUser.gender %>
                </li>
                <li><img src="/img/matcheniconen/MapPin.svg" alt="">55 km van jou vandaan</li>
                <li><img src="/img/matcheniconen/waarreizen.svg" alt="">Reizen door Oosterijk</li>
                <li><img src="/img/matcheniconen/Smiley.svg" alt="">Gezamenlijke interesse</li>
              </ul>
            </div>
          </section>

          <section>
            <p>State • Opzoek naar reisgenootje</p>
            <h2>Bio</h2>
            <p><%= matchUser.bio %></p>
          </section>

          <section>
            <h2>Interesse</h2>
            <ul class="hobbies">
              <%
                let interestsList = [];
                if (Array.isArray(matchUser.interests)) {
                  interestsList = matchUser.interests;
                } else if (typeof matchUser.interests === 'string') {
                  interestsList = matchUser.interests.split(',');
                }
              %>
              <% interestsList.forEach(interesse => { %>
                <li class="hobby"><%= interesse.trim() %></li>
              <% }) %>
            </ul>
          </section>

          <section>
            <h2>Geplande trip</h2>
            <% if (post) { %>
              <a href="/post/<%= post._id %>">
                <%- include('../partials/reisoproep', { post: post }) %>
              </a>
              <% } else { %>
                <p>Geen geplande trip beschikbaar.</p>
                <% } %>
          </section>

          <section>
            <h2>Op zoek naar:</h2>
            <p>
              <%= matchUser.opzoek %>
            </p>
          </section>

          <section>
            <h2>Gallerij</h2>
            <img src="/uploads/<%= matchUser.image1 %>" alt="Galerij foto 1">
            <img src="/uploads/<%= matchUser.image2 %>" alt="Galerij foto 2">
            <img src="/uploads/<%= matchUser.image3 %>" alt="Galerij foto 3">
          </section>

          <section>
            <form id="likeForm" action="/likes" method="POST">
              <% if (post) { %>
                <input type="hidden" name="postId" value="<%= post._id %>">
                <% } %>
                  <input type="hidden" name="matchedUser" value="<%= matchUser._id %>">

                  <button type="submit" name="actie" value="dislike">
                    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M28.1176 26.5699C28.2192 26.6715 28.2998 26.7922 28.3548 26.925C28.4098 27.0577 28.4381 27.2 28.4381 27.3437C28.4381 27.4875 28.4098 27.6298 28.3548 27.7625C28.2998 27.8953 28.2192 28.016 28.1176 28.1176C28.016 28.2192 27.8953 28.2998 27.7625 28.3548C27.6298 28.4098 27.4875 28.4381 27.3437 28.4381C27.2 28.4381 27.0577 28.4098 26.925 28.3548C26.7922 28.2998 26.6715 28.2192 26.5699 28.1176L17.5 19.0463L8.43008 28.1176C8.22484 28.3228 7.94649 28.4381 7.65625 28.4381C7.36601 28.4381 7.08765 28.3228 6.88242 28.1176C6.67719 27.9123 6.56189 27.634 6.56189 27.3437C6.56189 27.0535 6.67719 26.7752 6.88242 26.5699L15.9537 17.5L6.88242 8.43008C6.67719 8.22484 6.56189 7.94649 6.56189 7.65625C6.56189 7.36601 6.67719 7.08765 6.88242 6.88242C7.08765 6.67719 7.36601 6.56189 7.65625 6.56189C7.94649 6.56189 8.22484 6.67719 8.43008 6.88242L17.5 15.9537L26.5699 6.88242C26.7752 6.67719 27.0535 6.56189 27.3437 6.56189C27.634 6.56189 27.9123 6.67719 28.1176 6.88242C28.3228 7.08765 28.4381 7.36601 28.4381 7.65625C28.4381 7.94649 28.3228 8.22484 28.1176 8.43008L19.0463 17.5L28.1176 26.5699Z"/>
                      </svg>
                  </button>

                  <button type="submit" name="actie" value="like">
                    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M32.8125 13.9453C32.8125 23.5156 18.6225 31.2621 18.0182 31.582C17.8589 31.6677 17.6809 31.7126 17.5 31.7126C17.3191 31.7126 17.1411 31.6677 16.9818 31.582C16.3775 31.2621 2.1875 23.5156 2.1875 13.9453C2.19003 11.698 3.08391 9.54339 4.67303 7.95428C6.26214 6.36516 8.41672 5.47128 10.6641 5.46875C13.4873 5.46875 15.9592 6.68281 17.5 8.73496C19.0408 6.68281 21.5127 5.46875 24.3359 5.46875C26.5833 5.47128 28.7379 6.36516 30.327 7.95428C31.9161 9.54339 32.81 11.698 32.8125 13.9453Z"/>
                    </svg>
                  </button>
            </form>
          </section>

          <% } %>
  </main>

  <%- include('../partials/bottom-nav'); %>
  <script defer src="/javascript/genderfilter.js"></script>
</body>

</html>