<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>
<link rel="stylesheet" href="css/filter.css">

<body>

  <header>
    <%- include('../partials/ontdekfiltermenu'); %>
  </header>

  <ul class="all">
    <% reizen.forEach(item => { %>
      <li
        data-gender="<%= item.user.gender %>"
        data-date="<%= item.reis.startDate %>"
        data-continent="<%= item.reis.continent %>">
        
        <%= item.user.name %> - <%= item.reis.title %>
      </li>
    <% }) %>
  </ul>
  <script defer src="javascript/filter.js"></script>

  <footer>
    <%- include('../partials/bottom-nav'); %>
  </footer>
</body>

</html>