<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/post.css">
  </head>
  <body>

    <main>
      <section class="hero">
          <a href="/discover">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M27.7501 16C27.7501 16.1989 27.6711 16.3896 27.5304 16.5303C27.3898 16.671 27.199 16.75 27.0001 16.75H6.81132L14.5301 24.47C14.6038 24.5386 14.6629 24.6214 14.7039 24.7134C14.7448 24.8054 14.7669 24.9047 14.7687 25.0054C14.7704 25.1062 14.7519 25.2062 14.7142 25.2996C14.6765 25.393 14.6203 25.4778 14.5491 25.549C14.4779 25.6202 14.3931 25.6764 14.2997 25.7141C14.2063 25.7518 14.1063 25.7703 14.0056 25.7686C13.9048 25.7668 13.8055 25.7447 13.7135 25.7038C13.6215 25.6628 13.5387 25.6037 13.4701 25.53L4.47007 16.53C4.32962 16.3893 4.25073 16.1987 4.25073 16C4.25073 15.8012 4.32962 15.6106 4.47007 15.47L13.4701 6.46997C13.6122 6.33749 13.8003 6.26537 13.9946 6.26879C14.1889 6.27222 14.3743 6.35093 14.5117 6.48835C14.6491 6.62576 14.7278 6.81114 14.7312 7.00545C14.7347 7.19975 14.6626 7.38779 14.5301 7.52997L6.81132 15.25H27.0001C27.199 15.25 27.3898 15.329 27.5304 15.4696C27.6711 15.6103 27.7501 15.8011 27.7501 16Z" fill="#154159"/>
            </svg>
          </a>
          <p>
              <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.5 3.35156C6.11834 3.35156 5.74526 3.46474 5.42792 3.67677C5.11059 3.88881 4.86325 4.19019 4.7172 4.54279C4.57115 4.89539 4.53293 5.28339 4.60739 5.65771C4.68185 6.03204 4.86563 6.37587 5.1355 6.64575C5.40538 6.91562 5.74921 7.0994 6.12354 7.17386C6.49786 7.24832 6.88586 7.2101 7.23846 7.06405C7.59106 6.918 7.89244 6.67066 8.10448 6.35333C8.31651 6.03599 8.42969 5.66291 8.42969 5.28125C8.42969 4.76946 8.22638 4.27864 7.8645 3.91675C7.50261 3.55487 7.01179 3.35156 6.5 3.35156ZM6.5 6.60156C6.23887 6.60156 5.9836 6.52413 5.76647 6.37905C5.54935 6.23397 5.38012 6.02777 5.28019 5.78651C5.18026 5.54526 5.15411 5.27979 5.20506 5.02367C5.256 4.76755 5.38175 4.5323 5.5664 4.34765C5.75105 4.163 5.9863 4.03725 6.24242 3.98631C6.49854 3.93536 6.76401 3.96151 7.00526 4.06144C7.24652 4.16137 7.45272 4.3306 7.5978 4.54772C7.74288 4.76485 7.82031 5.02012 7.82031 5.28125C7.82031 5.63142 7.68121 5.96725 7.4336 6.21485C7.186 6.46246 6.85017 6.60156 6.5 6.60156ZM6.5 0.914062C5.34216 0.915406 4.23213 1.37595 3.41342 2.19467C2.5947 3.01338 2.13416 4.12341 2.13281 5.28125C2.13281 6.8509 2.86102 8.51805 4.23871 10.1024C4.86053 10.821 5.56037 11.4682 6.32531 12.0321C6.37652 12.0679 6.4375 12.0872 6.5 12.0872C6.5625 12.0872 6.62348 12.0679 6.67469 12.0321C7.43963 11.4682 8.13947 10.821 8.76129 10.1024C10.139 8.51805 10.8672 6.85242 10.8672 5.28125C10.8658 4.12341 10.4053 3.01338 9.58658 2.19467C8.76787 1.37595 7.65784 0.915406 6.5 0.914062ZM6.5 11.4009C5.73828 10.8129 2.74219 8.30883 2.74219 5.28125C2.74219 4.28462 3.1381 3.3288 3.84283 2.62408C4.54755 1.91935 5.50337 1.52344 6.5 1.52344C7.49663 1.52344 8.45245 1.91935 9.15717 2.62408C9.8619 3.3288 10.2578 4.28462 10.2578 5.28125C10.2578 8.30883 7.26172 10.8129 6.5 11.4009Z" fill="#FC9B5E"/>
              </svg>
              <%= post.location %>
          </p>
          <h1><%= post.title %></h1>
          <p><%= post.startDate %> tot <%= post.endDate %></p>

          <% if (post.postCoverImg) { %>
            <img src="/uploads/<%= post.postCoverImg %>" alt="<%= post.title %>" class="hero-img">
          <% } %>
      </section>

      <section>
        <h2>Type reis</h2>
        <p><%= post.gender %> | <%= post.age %> jaar</p>

        <section>
          <h2>Mederezigers</h2>
        
          <!-- mederezigers lijst -->
          <% if (mederezigers.length === 0) { %>
            <p>Nog geen mederezigers</p>
          <% } else { %>
            <% mederezigers.forEach(reiziger => { %>
              <article>
                <a href="/profiel/<%= reiziger._id %>">
                  <img src="<%= reiziger.profileImg %>" alt="<%= reiziger.name %>">
                </a>
              </article>
            <% }) %>
          <% } %>
        
          <!-- JOIN knop -->
          <% if (user && user._id.toString() !== post.userId.toString()) { %>
            <% const isJoined = post.reizigers && post.reizigers.some(id => id.toString() === user._id.toString()) %>
            <% const aantalReizigers = post.reizigers ? post.reizigers.length : 0 %>
            <% const isPlek = aantalReizigers < post.persons %>
        
            <% if (isJoined) { %>
              <p>Je doet al mee aan deze reis!</p>
            <% } else if (isPlek) { %>
              <form method="POST" action="/post/<%= post._id %>/join">
                <button type="submit" class="gradient-btn">Join reis</button>
              </form>
            <% } else { %>
              <p>Deze reis is vol (<%= post.persons %> / <%= post.persons %> personen)</p>
            <% } %>
          <% } %>
        </section>

        <h2>Omschrijving</h2>
        <p><%= post.description %> </p>

        <h2>De route</h2>
        <!-- <img src="  " alt="route <%= post.title %>"> -->

        <h2>Benodigdheden</h2>
        <ul>
          <% post.supplies.forEach(item => { %>
            <li><%= item %></li>
          <% }) %>
        </ul>
      </section>

      <section>
        <h2>Gepost door</h2>
        <article class="profilecard">
          <a href="/profiel/<%= post.userId %>">
            <img src="<%= postUser.profileImg %>" alt="<%= postUser.name %>">
            <p><%= postUser.name %></p>
            <p><%= postUser.gender %></p>
            <p><%= postUser.birthday %></p>
          </a>
          <!-- deze moet naar de chat met deze persoon gaan -->
          <a href="/chat-channel/<%= postUser._id %>" class="gradient-btn">Stuur <%= postUser.name %> een bericht</a>
        </article>
      </section>
    

      <!-- is ingelogde gebruiker niet de maker van de post? dan kan je joinen -->


    </main>

    <footer>
        <%- include('../partials/bottom-nav'); %>
    </footer>

    <script src="/javascript/form.js"></script>
  </body>
</html>