<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/css/profiel.css">
        <script defer src="/javascript/filter.js"></script>
        <title>Profielpagina <%= user.name %>
        </title>
</head>

<body>
    <header>
      
    </header>
    <main>
        <% if (user) { %>
            <h1 class="underline">Profiel</h1>
            <section class="profile-pictures">
                <h2>Gallerij</h2>
                <img src="/uploads/<%= user.profileImg %>" alt="profiel foto">
                <img src="/uploads/<%= user.image2 %>" alt="Galerij foto 2">
                <img src="/uploads/<%= user.image3 %>" alt="Galerij foto 3">
            </section>

            <section>
                <h2>
                    <%= user.name %> • <%= age %>
                </h2>
                <div class="profile-info">
                    <ul>
                        <li><img src="/img/GenderFemale.svg">
                            <%= user.gender %>
                        </li>
                        <li><img src="/img/location.svg">Nederland</li>
                    </ul>
                </div>
            </section>

            <section>
                <h2>Interesses:</h2>
                <ul class="hobbies">
                    <!-- deze dubbele check weghalen als we de databse gaan opschonen want nu werkt het niet door de oude gebruikers -->
                    <% const interestList = Array.isArray(user.interests) 
                    ? user.interests 
                    : (user.interests ? user.interests.split(',').map(i => i.trim()) : []) %>

                    <% interestList.forEach(interesse => { %>                       
                        <li class="hobby">
                            <%= interesse %>
                        </li>
                    <% }) %>
                </ul>
            </section>
            <section>
            <h2>Planning</h2>
            <% if (alleReizen.length===0) { %>
                <p>Je hebt nog geen reizen.</p>
                <% } else { %>
                    <ul class="reizen">
                        <% alleReizen.forEach(post=> { %>
                            <li>
                                <a href="/post/<%= post._id %>">
                                    <%- include('../partials/reisoproep', { post: post }) %>
                                </a>
                            </li>
                            <% }) %>
                    </ul>
                    <% } %>



                        </section>
                        <% } %>
    </main>

    <footer>
        <%- include('../partials/bottom-nav'); %>
    </footer>
</body>

</html>
 