<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="css/form.css">
  </head>

  <body>
    <main>
      <!-- Multi-step form -->
      <form method="POST" action="/register" class="multi-step-form" enctype="multipart/form-data">
        <h1 class="underline">Registreer</h1>

        <!-- ========== Stap 1: Account ========== -->
        <section class="form-step form-active">

          <a href="/" class="back-button">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M27.7501 16C27.7501 16.1989 27.6711 16.3896 27.5304 16.5303C27.3898 16.671 27.199 16.75 27.0001 16.75H6.81132L14.5301 24.47C14.6038 24.5386 14.6629 24.6214 14.7039 24.7134C14.7448 24.8054 14.7669 24.9047 14.7687 25.0054C14.7704 25.1062 14.7519 25.2062 14.7142 25.2996C14.6765 25.393 14.6203 25.4778 14.5491 25.549C14.4779 25.6202 14.3931 25.6764 14.2997 25.7141C14.2063 25.7518 14.1063 25.7703 14.0056 25.7686C13.9048 25.7668 13.8055 25.7447 13.7135 25.7038C13.6215 25.6628 13.5387 25.6037 13.4701 25.53L4.47007 16.53C4.32962 16.3893 4.25073 16.1987 4.25073 16C4.25073 15.8012 4.32962 15.6106 4.47007 15.47L13.4701 6.46997C13.6122 6.33749 13.8003 6.26537 13.9946 6.26879C14.1889 6.27222 14.3743 6.35093 14.5117 6.48835C14.6491 6.62576 14.7278 6.81114 14.7312 7.00545C14.7347 7.19975 14.6626 7.38779 14.5301 7.52997L6.81132 15.25H27.0001C27.199 15.25 27.3898 15.329 27.5304 15.4696C27.6711 15.6103 27.7501 15.8011 27.7501 16Z"/>
            </svg>
          </a>

          <div class="voortgangsbalk">
            <div class="voortgangsbalk-active"></div>
            <div class="voortgangsbalk-inactive"></div>
            <div class="voortgangsbalk-inactive"></div>
            <div class="voortgangsbalk-inactive"></div>
          </div>

          <p>Wie ben jij?</p>
          <h2>Account aanmaken</h2>

          <label for="name">Voornaam <span class="required">*</span> </label>
          <input type="text" id="name" name="name" placeholder="Je voornaam" required>

          <label for="lastName">Achternaam <span class="required">*</span> </label>
          <input type="text" id="lastName" name="lastName" placeholder="Je achternaam" required>

          <label for="email">Email <span class="required">*</span> </label>
          <input type="email" id="email" name="email" placeholder="mail@mail.com" required>
          <small id="emailError"></small>

          <div class="password-wrapper">
            <label for="password">Wachtwoord <span class="required">*</span> </label>
            <input type="password" id="password" name="password" placeholder="Wachtwoord" required minlength="8">
            <span class="toggle-password">
              <img src="img/Eyeclose.svg" alt="Toon wachtwoord" class="eye-icon">
            </span>
          </div>

          <div class="password-wrapper">
            <label for="confirmPassword">Herhaal wachtwoord <span class="required">*</span> </label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Herhaal wachtwoord" required>
            <span class="toggle-password">
              <img src="img/Eyeclose.svg" alt="Toon wachtwoord" class="eye-icon">
            </span>
            <small id="passwordError"></small>
          </div>

          <button type="button" class="gradient-btn" data-next>Volgende</button>
        </section>

        <!-- ========== Stap 2: Persoonlijke gegevens ========== -->
        <section class="form-step">

          <button type="button" data-prev>
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M27.7501 16C27.7501 16.1989 27.6711 16.3896 27.5304 16.5303C27.3898 16.671 27.199 16.75 27.0001 16.75H6.81132L14.5301 24.47C14.6038 24.5386 14.6629 24.6214 14.7039 24.7134C14.7448 24.8054 14.7669 24.9047 14.7687 25.0054C14.7704 25.1062 14.7519 25.2062 14.7142 25.2996C14.6765 25.393 14.6203 25.4778 14.5491 25.549C14.4779 25.6202 14.3931 25.6764 14.2997 25.7141C14.2063 25.7518 14.1063 25.7703 14.0056 25.7686C13.9048 25.7668 13.8055 25.7447 13.7135 25.7038C13.6215 25.6628 13.5387 25.6037 13.4701 25.53L4.47007 16.53C4.32962 16.3893 4.25073 16.1987 4.25073 16C4.25073 15.8012 4.32962 15.6106 4.47007 15.47L13.4701 6.46997C13.6122 6.33749 13.8003 6.26537 13.9946 6.26879C14.1889 6.27222 14.3743 6.35093 14.5117 6.48835C14.6491 6.62576 14.7278 6.81114 14.7312 7.00545C14.7347 7.19975 14.6626 7.38779 14.5301 7.52997L6.81132 15.25H27.0001C27.199 15.25 27.3898 15.329 27.5304 15.4696C27.6711 15.6103 27.7501 15.8011 27.7501 16Z"/>
            </svg>
          </button>

          <div class="voortgangsbalk">
            <div class="voortgangsbalk-active"></div>
            <div class="voortgangsbalk-active"></div>
            <div class="voortgangsbalk-inactive"></div>
            <div class="voortgangsbalk-inactive"></div>
          </div>

          <p>Nog meer informatie over jou</p>
          <h2>Persoonlijke gegevens</h2>

          <label for="birthday">Verjaardag <span class="required">*</span> </label>
          <input type="date" name="birthday" required>

          <label for="tel">Telefoon</label>
          <input type="tel" id="tel" name="tel" placeholder="(06) 123 456 78">

          <label for="gender">Gender <span class="required">*</span> </label>
          <select id="gender" name="gender" required>
            <option value="" disabled selected hidden>Kies je gender</option>
            <option value="man">Man</option>
            <option value="vrouw">Vrouw</option>
            <option value="anders">Anders</option>
          </select>

          <button type="button" class="gradient-btn" data-next>Volgende</button>
        </section>

        <!-- ========== Stap 3: Profiel ========== -->
        <section class="form-step">

          <button type="button" data-prev>
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M27.7501 16C27.7501 16.1989 27.6711 16.3896 27.5304 16.5303C27.3898 16.671 27.199 16.75 27.0001 16.75H6.81132L14.5301 24.47C14.6038 24.5386 14.6629 24.6214 14.7039 24.7134C14.7448 24.8054 14.7669 24.9047 14.7687 25.0054C14.7704 25.1062 14.7519 25.2062 14.7142 25.2996C14.6765 25.393 14.6203 25.4778 14.5491 25.549C14.4779 25.6202 14.3931 25.6764 14.2997 25.7141C14.2063 25.7518 14.1063 25.7703 14.0056 25.7686C13.9048 25.7668 13.8055 25.7447 13.7135 25.7038C13.6215 25.6628 13.5387 25.6037 13.4701 25.53L4.47007 16.53C4.32962 16.3893 4.25073 16.1987 4.25073 16C4.25073 15.8012 4.32962 15.6106 4.47007 15.47L13.4701 6.46997C13.6122 6.33749 13.8003 6.26537 13.9946 6.26879C14.1889 6.27222 14.3743 6.35093 14.5117 6.48835C14.6491 6.62576 14.7278 6.81114 14.7312 7.00545C14.7347 7.19975 14.6626 7.38779 14.5301 7.52997L6.81132 15.25H27.0001C27.199 15.25 27.3898 15.329 27.5304 15.4696C27.6711 15.6103 27.7501 15.8011 27.7501 16Z"/>
            </svg>
          </button>

          <div class="voortgangsbalk">
            <div class="voortgangsbalk-active"></div>
            <div class="voortgangsbalk-active"></div>
            <div class="voortgangsbalk-active"></div>
            <div class="voortgangsbalk-inactive"></div>
          </div>

          <p>Dit word jouw profiel</p>
          <h2>Profiel</h2>

          <div class="image-upload-grid">
            <div class="upload-wrapper large">
                <label for="profileImg" class="upload-box">
                    <span>Profiel foto</span>
                    <img id="preview-profileImg" src="" alt="" hidden>
                </label>
                <input type="file" id="profileImg" name="profileImg" accept="image/*" hidden>
            </div>
        
            <div class="upload-wrapper top-right">
                <label for="image1" class="upload-box">
                    <span>Extra afbeelding</span>
                    <img id="preview-image1" src="" alt="" hidden>
                </label>
                <input type="file" id="image1" name="image1" accept="image/*" hidden>
            </div>
        
            <div class="upload-wrapper bottom-left">
                <label for="image2" class="upload-box">
                    <span>Extra afbeelding</span>
                    <img id="preview-image2" src="" alt="" hidden>
                </label>
                <input type="file" id="image2" name="image2" accept="image/*" hidden>
            </div>
        
            <div class="upload-wrapper bottom-right">
                <label for="image3" class="upload-box">
                    <span>Extra afbeelding</span>
                    <img id="preview-image3" src="" alt="" hidden>
                </label>
                <input type="file" id="image3" name="image3" accept="image/*" hidden>
            </div>
        </div>

          <label for="status">Status <span class="required">*</span></label>
          <select id="status" name="status" required>
            <option value="" disabled selected hidden>Kies je status</option>
            <option value="opzoek">Op zoek naar reisgenootje</option>
            <option value="niet-opzoek">Niet op zoek</option>
          </select>

          <label for="bio">Bio <span class="required">*</span> </label>
          <textarea class="form-textarea" id="bio" name="bio" placeholder="Schrijf hier iets over jezelf" required></textarea>

          <label for="opzoek">Op zoek naar <span class="required">*</span></label>
          <textarea class="form-textarea" id="opzoek" name="opzoek" placeholder="Naar wat voor reisgenootje ben je opzoek" required></textarea>

          <button type="button" class="gradient-btn" data-next>Volgende</button>
        </section>

        <!-- ========== Stap 4: Interesses ========== -->
        <section class="form-step">

          <button type="button" data-prev>
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M27.7501 16C27.7501 16.1989 27.6711 16.3896 27.5304 16.5303C27.3898 16.671 27.199 16.75 27.0001 16.75H6.81132L14.5301 24.47C14.6038 24.5386 14.6629 24.6214 14.7039 24.7134C14.7448 24.8054 14.7669 24.9047 14.7687 25.0054C14.7704 25.1062 14.7519 25.2062 14.7142 25.2996C14.6765 25.393 14.6203 25.4778 14.5491 25.549C14.4779 25.6202 14.3931 25.6764 14.2997 25.7141C14.2063 25.7518 14.1063 25.7703 14.0056 25.7686C13.9048 25.7668 13.8055 25.7447 13.7135 25.7038C13.6215 25.6628 13.5387 25.6037 13.4701 25.53L4.47007 16.53C4.32962 16.3893 4.25073 16.1987 4.25073 16C4.25073 15.8012 4.32962 15.6106 4.47007 15.47L13.4701 6.46997C13.6122 6.33749 13.8003 6.26537 13.9946 6.26879C14.1889 6.27222 14.3743 6.35093 14.5117 6.48835C14.6491 6.62576 14.7278 6.81114 14.7312 7.00545C14.7347 7.19975 14.6626 7.38779 14.5301 7.52997L6.81132 15.25H27.0001C27.199 15.25 27.3898 15.329 27.5304 15.4696C27.6711 15.6103 27.7501 15.8011 27.7501 16Z"/>
            </svg>
          </button>

          <div class="voortgangsbalk">
            <div class="voortgangsbalk-active"></div>
            <div class="voortgangsbalk-active"></div>
            <div class="voortgangsbalk-active"></div>
            <div class="voortgangsbalk-active"></div>
          </div>

          <p>Selecteer maximaal 5 onderwerpen</p>
          <h2>Welke manieren van reizen spreken jou aan?</h2>

          <div class="options">
            <% const interests = ["Backpacken","Kanoën","Zeilen","Auto","Trein","Huttentocht","Kamperen","Stedentrip","Liften","Fietsen","Camper","Roadtrip","Duiken","Hiken","Zuipen"] %>
            <% interests.forEach((interest, i) => { %>
              <label class="option" for="interest<%= i %>">
                <input type="checkbox" id="interest<%= i %>" name="interests" value="<%= interest %>">
                <span><%= interest %></span>
              </label>
            <% }) %>
          </div>

          <input class="gradient-btn" type="submit" value="Profiel aanmaken">
        </section>
      </form>

      <% if (error) { %>
        <p class="error"><%= error %></p>
      <% } %>
    </main>
    <script src="../javascript/form.js"></script>
    <script src="../javascript/register.js"></script>
  </body>
</html>